workflow/ZG/
workflow/*/ZG/
data/ZG.*
data/*.db.*
*.db.*
*.dmnd
*.fai
*.pdb
*.phr
*.pin
*.pjs
*.pot
*.psq
*.ptf
*.pto
OrthoFinder_Results/
WorkingDirectory/
*.log
*log.txt
*.bam
*.bai
*.vcf
*.gz
__pycache__/
*.pyc
.DS_Store
